.dnnAnnouncementForm .urlControl {
    width: 420px;
}

.dateDiv { display: inline-block;width: 75px; margin-bottom: 20px}

.urlControlLinkType span, .dnnFormItem .urlControlLinkType span {
float: none;
display: inline;
width: auto;
text-align: left;
}

/*.rcTimePopup {
background-image: url('images/clock.gif');
position: absolute!important;
right: 3px;
bottom: 5px;
}*/

table.RadCalendarTimeView {
    background-color: #fff!important;
}

.dnnAnn_Audit {
		background: #f5f5f5; /* Old browsers */
		background: -moz-linear-gradient(top, #f5f5f5 0%, #ececec 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #f5f5f5 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #f5f5f5 0%,#ececec 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #f5f5f5 0%,#ececec 100%); /* IE10+ */
		background: linear-gradient(top, #f5f5f5 0%,#ececec 100%); /* W3C */
		
		text-shadow: 0px 1px 0px #ffffff;
		color:#555;

    padding: 10px;
    margin-bottom: 10px;
    width: 90%
}

.dnnAnn_bold {
    font-weight: bold;
}