/* ========================================
    CSS STYLES FOR Module DNN.Announcements
   ========================================
*/
.DNN_ANN_DesignTable { width: auto; }
.DNN_ANN_Description {}
.DNN_ANN_Description p { margin-top: 0px; }
.DNN_ANN_viewtypeSelector { float: right; }
.DNN_ANN_viewtypeSelectorLabel { float: left; }
.DNN_ANN_viewtypeSelectorDDL { float: left; }
.DNN_ANN_ImageDiv { float: left;margin-right: 5px;}